<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='defaultstyle.css')}}">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
    <script type='text/javascript' src="{{url_for('static', filename='libraries/socket.io.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='libraries/chart.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
        String.prototype.hashCode = function() {
          var hash = 0,
            i, chr;
          if (this.length === 0) return hash;
          for (i = 0; i < this.length; i++) {
            chr = this.charCodeAt(i);
            hash = ((hash << 5) - hash) + chr;
            hash |= 0; // Convert to 32bit integer
          }
          return hash;
        }

        function hslToHex(h, s, l) {
            // Convert hsl to hex
            // Taken from https://stackoverflow.com/questions/36721830/convert-hsl-to-rgb-and-hex
            l /= 100;
            const a = s * Math.min(l, 1 - l) / 100;
            const f = n => {
                const k = (n + h / 30) % 12;
                const color = l - a * Math.max(Math.min(k - 3, 9 - k, 1), -1);
                return Math.round(255 * color).toString(16).padStart(2, '0');   // convert to Hex and prefix "0" if needed
            };
            return `#${f(0)}${f(8)}${f(4)}`;
        }

        function name_to_color(name) {
            // Convert a string (representing the name of a sensor; any length) into a consistent color
            // Relies on a hashing script from https://stackoverflow.com/questions/7616461/generate-a-hash-from-string-in-javascript
            return hslToHex((Math.sqrt(2) * name.hashCode()) % 360, 100, 50);
        }
		
		function median(numbers) {
			// This assumes that numbers is indeed a list of numbers
			// Taken from https://stackoverflow.com/questions/45309447/calculating-median-javascript
			const sorted = Array.from(numbers).sort((a, b) => a - b);
			const middle = Math.floor(sorted.length / 2);
			if (sorted.length % 2 === 0) {
				return (sorted[middle - 1] + sorted[middle]) / 2;
			}
			return sorted[middle];
		}

        window.addEventListener("load", function(event) {
            // Rolling records for each sensor type
            // Whenever a new sensor is encountered, it will be added dynamically
            // Record will eventually look like:
            // {"sensor": [{"time": #, "altitude": #, "value": #}, {}, {}], "sensor": []}
            var sample_record = {};
            var record_length = 10;  // seconds (actual number of samples in record will change dynamically)
            var latest_time = 0;
            var latest_actual_time = Date.now();
			var latest_altitude = 0;
			var average_length = 1;  // seconds (actual number of samples in average will vary)

			var data_table_body = document.getElementById("data-table-body");

            var ground_altitude_number = document.getElementById("ground-number");
            var set_ground_altitude = true;
            ground_altitude_number.value = 0;
			var record_length_number = document.getElementById("record-number");
			record_length_number.value = record_length;
			var average_length_number = document.getElementById("average-number");
			average_length_number.value = average_length;
			var notes_input = document.getElementById('notes-input');

			var chart_altitude_settings = {dataset_x: "value", dataset_y: "altitude"};
			var chart_time_settings = {dataset_x: "time", dataset_y: "value"};
			var chart_settings = chart_altitude_settings;

			var interval_timer = 0;

			var rootselector = document.querySelector(':root');
			
			// Chart
			// We need this object later, so we will create it here
			//Chart.defaults.color = '#EAEAEA';
            //Chart.defaults.color = '#ffa828';
            Chart.defaults.color = getComputedStyle(rootselector).getPropertyValue("--chart-line-color");
            Chart.defaults.font.family = getComputedStyle(rootselector).getPropertyValue("--chart-font");
            // Chart.defaults.font.family = "monospace"; //"SourceCodePro";
            Chart.defaults.font.size = 14;
            var ctx = document.getElementById("chart");
            var chart = new Chart(ctx, {
                type: "scatter",
                data: {},
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    showLine: true,
                    scales: {
						"horiz": {
							type: "linear",
							position: "bottom",
							beginAtZero: false,
							title: {
								text: "Readings",
								display: true
							}
						},
						"vert": {
							type: "linear",
							position: "left",
							beginAtZero: true,
							title: {
								text: "Altitude",
								display: true
							}
						}
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Sensor Record',
                        },
                        legend: {
                            labels: {
                                filter: function(item) {
                                    return !item.text.includes("smoothed-");
                                }  // Don't show labels for the smoothed lines
                            }
                        }
                    }
                }
            });

            // Connect to the Socket.IO server
            // The connection URL has the following format, relative to the current page:
            //  http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for new connections
            // The callback function is invoked when a connection with the server is established
            socket.on('connect', function() {
                console.log("Connected!");
                socket.emit('connect_ack');
            });

            // Event handler for server sent data
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received" section of the page
			// TODO: This update-remove-update sequence could be greatly simplified
			// Ex, it might be possible to pass sample_record directly to the chart to save on the iteration
            socket.on('data', function(data_from_packet) {
                console.log("Got some data");
                for (let samp = 0; samp < data_from_packet.length; samp++) {
                    for (const [sensor, value] of Object.entries(data_from_packet[samp].sensors)) {
						// If this is a new sensor, add it to the record and to the table
                        if (!(sensor in sample_record)) {
                            sample_record[sensor] = [];
                            sample_record["smoothed-" + sensor] = [];
							// Create a new row in the table
							let sensor_row = document.createElement("tr");
							sensor_row.id = "row-" + sensor;
							// Create a cell for each column
							let sensor_cell = document.createElement("td");
							sensor_cell.id = "sensor-cell-" + sensor;
							sensor_cell.innerText = sensor;  // This doesn't change so we can set this one
							sensor_cell.style = "color:" + name_to_color(sensor);
							sensor_row.appendChild(sensor_cell);
							let recent_cell = document.createElement("td");
							recent_cell.id = "recent-cell-" + sensor; 
							sensor_row.appendChild(recent_cell);
							let recent_avg_cell = document.createElement("td");
							recent_avg_cell.id = "recent-avg-cell-" + sensor;
							sensor_row.appendChild(recent_avg_cell);
							let alt_max_cell = document.createElement("td");
							alt_max_cell.id = "alt-max-cell-" + sensor;
							sensor_row.appendChild(alt_max_cell);
							let alt_avg_max_cell = document.createElement("td");
							alt_avg_max_cell.id = "alt-avg-max-cell-" + sensor;
							sensor_row.appendChild(alt_avg_max_cell);
							let check_cell = document.createElement("td");
							check_cell.id = "check-cell-" + sensor;
							let graph_check = document.createElement("input");
							graph_check.id = "graph-check-" + sensor;
							graph_check.type = "checkbox"
							graph_check.checked = true;
							check_cell.appendChild(graph_check);
							sensor_row.appendChild(check_cell);
							data_table_body.appendChild(sensor_row);
                        }
						// Add sample to sample record
                        sample_record[sensor].push({"time": data_from_packet[samp]["time"],
                                                    "altitude": data_from_packet[samp]["altitude"],
                                                    "value": data_from_packet[samp]["sensors"][sensor]});
						// Update table
						document.getElementById("recent-cell-" + sensor).innerText = Math.round(100 * data_from_packet[samp]["sensors"][sensor]) / 100;
						// Get average sensor value
						let sum_val = 0;
						let sum_alt = 0;
						let sum_time = 0;
						let sum_count = 0;
						let max_val = 0;
						let alt_at_max = 0;
						
						for (let rsamp = 0; rsamp < sample_record[sensor].length; rsamp++) {
							if (latest_time - sample_record[sensor][rsamp]["time"] < average_length) {
								sum_val = sum_val + sample_record[sensor][rsamp]["value"];
								sum_alt = sum_alt + sample_record[sensor][rsamp]["altitude"];
								sum_time = sum_time + sample_record[sensor][rsamp]["time"];
								sum_count ++;
							}
							if (sample_record[sensor][rsamp]["value"] > max_val) {
								max_val = sample_record[sensor][rsamp]["value"];
								alt_at_max = sample_record[sensor][rsamp]["altitude"];
							}
						}
						
						document.getElementById("recent-avg-cell-" + sensor).innerText = Math.round(10 * sum_val / sum_count) / 10;
						document.getElementById("alt-max-cell-" + sensor).innerText = Math.round(10 * (alt_at_max - ground_altitude_number.value)) / 10;
						sample_record["smoothed-" + sensor].push({"time": sum_time / sum_count,
                                                    "altitude": sum_alt / sum_count,
                                                    "value": sum_val / sum_count});
                        let alt_at_avg_max = 0;
                        let max_avg_val = 0;
						
						for (let rsamp = 0; rsamp < sample_record["smoothed-" + sensor].length; rsamp++) {
						    if (sample_record["smoothed-" + sensor][rsamp]["value"] > max_avg_val) {
						        max_avg_val = sample_record["smoothed-" + sensor][rsamp]["value"];
						        alt_at_avg_max = sample_record["smoothed-" + sensor][rsamp]["altitude"];
						    }
						}
						document.getElementById("alt-avg-max-cell-" + sensor).innerText = Math.floor(10 * (alt_at_avg_max - ground_altitude_number.value)) / 10;
						
						// Alternative Median-based average. Not used because it didn't seem to be meaningfully different from the standard rolling average
						/*
						let val_list = [];
						let time_list = [];
						let alt_list = [];
						let max_val = 0;
						let alt_at_max = 0;
						let max_avg_val = 0;
						let alt_at_avg_max = 0;
						for (let rsamp = 0; rsamp < sample_record[sensor].length; rsamp++) {
							if (latest_time - sample_record[sensor][rsamp]["time"] < average_length) {
								val_list.push(sample_record[sensor][rsamp]["value"]);
								time_list.push(sample_record[sensor][rsamp]["time"]);
								alt_list.push(sample_record[sensor][rsamp]["altitude"]);
							}
							if (sample_record[sensor][rsamp]["value"] > max_val) {
								alt_at_max = sample_record[sensor][rsamp]["altitude"];
								max_val = sample_record[sensor][rsamp]["value"];
							}
							// The smoothed record *should* be one element smaller than the standard sensor record
							if (rsamp < sample_record["smoothed-" + sensor].length) {
								if (sample_record["smoothed-" + sensor][rsamp]["value"] > max_avg_val) {
									max_avg_val = sample_record["smoothed-" + sensor][rsamp]["value"];
									alt_at_avg_max = sample_record["smoothed-" + sensor][rsamp]["altitude"];
								}
							}
						}
						let med_val = median(val_list);
						let med_time = median(time_list);
						let med_alt = median(alt_list);
						document.getElementById("recent-avg-cell-" + sensor).innerText = Math.round(10 * med_val) / 10;
						document.getElementById("alt-max-cell-" + sensor).innerText = Math.round(10 * (alt_at_max - ground_altitude_number.value)) / 10;
						sample_record["smoothed-" + sensor].push({"time": med_time,
                                                    "altitude": med_alt,
                                                    "value": med_val});
						if (med_val > max_avg_val) {
							max_avg_val = med_val;
							alt_at_avg_max = med_alt;
						}
						document.getElementById("alt-avg-max-cell-" + sensor).innerText = Math.floor(10 * (alt_at_avg_max - ground_altitude_number.value)) / 10;
						*/
						
                    }
					// Update latest global metrics if this is the most recent packet
					if (true || data_from_packet[samp]["time"] > latest_time) {  // disabled because I would rather have data than not
						latest_time = data_from_packet[samp]["time"];
						latest_altitude = data_from_packet[samp]["altitude"];
						if (set_ground_altitude) {
						    ground_altitude_number.value = latest_altitude;
						    set_ground_altitude = false;
						}
						document.getElementById("altitude-m").innerText = Math.floor((latest_altitude - ground_altitude_number.value) * 100) / 100;
						document.getElementById("altitude-ft").innerText = Math.floor((latest_altitude - ground_altitude_number.value) * 3.281 * 10) / 10;
						document.getElementById("age").innerText = 0;
						latest_actual_time = Date.now();
                    }
                }
                // Remove old data from the rolling record
                for (const samples of Object.values(sample_record)) {
                    for (let samp = 0; samp < samples.length; samp++) {
                        if (samples[samp]["time"] < latest_time - record_length) {
                            // This sample is too old
                            samples.splice(samp, 1);
                        }
                    }
                }
                // Update chart with the new data
				let new_data = {"datasets": []};
				for (const [sensor, samples] of Object.entries(sample_record)) {
				    if ((!sensor.includes("smoothed-") && document.getElementById("graph-check-" + sensor).checked) || (sensor.includes("smoothed-") && document.getElementById("graph-check-" + sensor.slice(9)).checked)) {
                        let new_dataset = {"label": sensor, "data": [], showLine: false, yAxisID: "vert", xAxisID: "horiz", borderColor: name_to_color(sensor)};
                        if (sensor.includes("smoothed-")) {
                            new_dataset.showLine = true;
                            new_dataset.borderColor = name_to_color(sensor.slice(9));
                            new_dataset.pointRadius = 0;
                        }
                        for (let samp = 0; samp < sample_record[sensor].length; samp++) {
                            new_dataset["data"].push({"x": sample_record[sensor][samp][chart_settings.dataset_x], "y": sample_record[sensor][samp][chart_settings.dataset_y] - (chart_settings.dataset_y == "altitude" ? ground_altitude_number.value : 0)});
                        }
                        new_data.datasets.push(new_dataset);
					}
				}
				chart.data = new_data;
				chart.update('none');
            });

            // Event handler for server sent messages
			// We just drop these in the message box
            socket.on('message', function(msg) {
                console.log("Got a message:");
                console.log(msg);
                let message_box = document.getElementById("message-box");
                message_box.value += msg + "\n";
                message_box.scrollTop = message_box.scrollHeight;
            });

            // Event handler for server sent errors
            // For now, this is the same as messages
            socket.on('error', function(err) {
                console.log("Got an error:");
                console.log(err);
                error_box = document.getElementById("message-box");
                error_box.value += err + "\n";
                error_box.scrollTop = error_box.scrollHeight;
            });

            // Handlers for the buttons
            // Initialize button
            document.getElementById('init-button').onclick = function(event) {
                socket.emit('initialize');
                console.log("Init!");
                document.getElementById('init-button').disabled = true;
                return false;
            };
            // Reset button
			// Clears table and chart and resets record
            document.getElementById('reset-button').onclick = function(event) {
                console.log("Reset!");
				// Clear record
				sample_record = {};
				record_length = 10;  // seconds (actual number of samples in record will change dynamically)
				average_length = 1;
				record_length_number.value = record_length;
				average_length_number.value = average_length;
				latest_time = 0;
				latest_altitude = 0;
				// Clear chart
				chart.data = {};
				chart.update('none');
				// Clear table body
				while (data_table_body.firstChild) {
					data_table_body.removeChild(data_table_body.lastChild);
				}
				set_ground_altitude = true;
                return false;
            };

            // Handlers for the number inputs
            ground_altitude_number.oninput = function() {
                socket.emit('note', "Ground altitude changed to " + ground_altitude_number.value);
                console.log("Ground altitude changed to " + ground_altitude_number.value);
            }

            record_length_number.oninput = function() {
                record_length = record_length_number.value;
            }

            average_length_number.oninput = function() {
                average_length = average_length_number.value;
            }

            // Handler for notes input
            notes_input.addEventListener("keyup", ({key}) => {
                if (key == "Enter") {
                    socket.emit('note', notes_input.value);
                    console.log("Noted: " + notes_input.value);
                    notes_input.value = "";
                    return false;
                }
            })

            document.getElementById('alt-radio').onclick = function(event) {
				chart_settings = chart_altitude_settings;
				chart.options.scales.horiz.title.text = "Readings";
				chart.options.scales.vert.title.text = "Altitude";
            };
			
			document.getElementById('time-radio').onclick = function(event) {
				chart_settings = chart_time_settings;
				chart.options.scales.horiz.title.text = "Time";
				chart.options.scales.vert.title.text = "Readings";
			};
			
            setInterval(function() {
                // Code to be executed repeatedly
                if (interval_timer > 10) {
                    document.getElementById("age").innerText = (Date.now() - latest_actual_time)/1000;
                    interval_timer = 0;
                }
                interval_timer = interval_timer + 1;

                // Update CSS variable for randomness
                let rand = Math.random();
                let adj_rand = 0.75*Math.pow(rand,16) + 0.25*rand;
                //rootselector.style.setProperty('--random-translation', Math.floor(5 * adj_rand) + "px");
                //rootselector.style.setProperty('--random-brightness', (100 + Math.floor(10 * adj_rand)) + "%")
            }, 50); // Updates every 500 milliseconds
        });
    </script>
</head>
<body>
    <div class="left-bar">
        <table class="visible-table">
            <tr>
                <th>
                    <h1>Sensor Suite Live Viewer</h1>
                </th>
            </tr>
        </table>
        <table class="invisible-table">
            <tr>
                <td style="text-align: left;">
                    <h2>Current altitude: <span id="altitude-m">0</span>m (<span id="altitude-ft">0</span>ft)</h2>
                </td>
                <td style="text-align: right;">
                    <h2>Age: <span id="age">-1</span></h2>
                </td>
            </tr>
        </table>
        <table class="invisible-table">
            <tr>
                <td>
                    <button type="button" id="init-button">Initialize</button>
                </td>
                <td>
                    <button type="button" id="reset-button">Reset</button>
                </td>
                <td>
                    Ground: <input type="number" id="ground-number" class="display"> (m)
                </td>
                <td>
                    Record: <input type="number" id="record-number" class="display"> (sec)
                </td>
                <td>
                    Average: <input type="number" id="average-number" class="display"> (sec)
                </td>
            </tr>
        </table>
        <br>
        <table id="data-table" class="visible-table display">
            <thead id="data-table-head">
                <tr id="header-row">
                    <th>Sensor</th>
                    <th>Most Recent</th>
                    <th>Rolling Average</th>
                    <th>Altitude at Actual Max</th>
                    <th>Altitude at Smoothed Max</th>
                    <th>Graph</th>
                </tr>
            </thead>
            <tbody id="data-table-body">
            </tbody>
        </table>
        <br>
        <input type="text" id="notes-input" class="display" placeholder="Notes (added to log)...">
        <textarea id="message-box" readonly></textarea>
    </div>
    <div class="right-bar">
        <div id="chart-div" class="display">
                <canvas id="chart" width="400" height="400"></canvas>
        </div>
        <div style="text-align: center;" id="radio-div">
            <input type="radio" id="alt-radio" name="graph-axis" value="Graph over Altitude" checked="checked">
            <label for="alt-radio">Altitude-vs-Readings</label>
            <input type="radio" id="time-radio" name="graph-axis" value="Graph over Time">
            <label for="time-radio">Readings-vs-Time</label>
        </div>
    </div>
</body>
</html>
